<html>
<head>
    <title>H10 Privacy Policy</title>
    <style>
        body {
            font-family: sans-serif;
            max-width: 900px;
            margin: 0 auto;
            padding: 30px;
            color: #333;
        }

        p {
            margin: 0;
            padding-bottom: 30px;
        }

        h2 {
            font-size: 1.5em;
            margin: 0;
            padding-bottom: 20px;
        }

        ul {
            margin: 0 20% 30px 0;
        }

        li {
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
<h1>H10 Privacy Policy</h1>
<p>Shop-by-date “the App”</p>
<h2>provides</h2>
<p>a customizable date picker</p>
<h2>"the Service"</h2>
<p>to merchants who use Shopify to power their stores. This Privacy Policy describes how personal information is
    collected, used, and shared when you install or use the App in connection with your Shopify-supported store.</p>
<h2>Personal Information the App Collects</h2>
<p>When you install the App, we are automatically able to access certain types of information from your Shopify
    account:</p>
<ul>
    <li>Name, postal address, URL, email, phone number, products and order details.</li>
    <li>Information about you and others who may access the App on behalf of your store, such as your name, address,
        email address, phone number, and billing information; shipping date when selected in the app.
    </li>
    <li>Information about individuals who visit your store, such as their IP address, web browser details, time zone.
    </li>
</ul>

<h2>How Do We Use Your Personal Information?</h2>
<p>We use the personal information we collect from you and your customers in order to provide the Service and to operate
    the App.</p>
<p>Additionally, we use this personal information to: Communicate with you; Optimise or improve the App; and Provide you
    with information or advertising relating to our products or services.</p>
<p>We may share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena,
    search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>

<h2>Your Rights</h2>
<p>If you are a European resident, you have the right to access personal information we hold about you and to ask that
    your personal information be corrected, updated, or deleted. If you would like to exercise this right, please
    contact us through the contact information below.</p>
<p>Additionally, if you are a European resident we note that we are processing your information in order to fulfil
    contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our
    legitimate business interests listed above. Additionally, please note that your information will be transferred
    outside of Europe, including to Canada and the United States.</p>

<h2>Data Retention</h2>
<p>When you place an order through the Site, we will maintain your Order Information for our records unless and until
    you ask us to delete this information.</p>

<h2>Changes</h2>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for
    other operational, legal or regulatory reasons.</p>

<h2>Contact Us</h2>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint,
    please contact us by e-mail at support@h10.studio.</p>
</body>
</html>
