#availabilityPeriodPage {
  .buttonHolder {
    margin-top: 20px;
  }
  .availableDateItem {
    display: flex;
    width: 100%;
    align-items: stretch;
    > div {
      line-height: 36px
    }
    .date {
      flex-basis: 25%;
    }
    .orders {
      flex-basis: 22%;
    }
    .status {
      flex-basis: 23%;
      font-size: 12px;
      font-weight: bold;
      color: #aaa;
    }
    .delete {
      flex-basis: 30%;
      text-align: right;
    }
    &.NOT_AVAILABLE {
      color: #aaa;
    }
    &.AVAILABLE .status {
      color: #5D8AB4;
    }
    &.SOLD_OUT .status {
      color: #ae8317;
    }
  }
  .ordersCountWithSharing {
    margin-bottom: 30px;
    .inner {
      display: flex;
      justify-items: stretch;
      height: 112px;
      width: 100%;
      color: #637381;

      .orderCount {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        border-left: 1px solid #DFE3E8;

        &:first-child {
          border-left-width: 0;
        }

        .label {
          flex-grow: 0;
          flex-basis: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
        }

        .count {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          margin-top: 14px;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
  .orderCountWithoutSharing {
    margin-bottom: 30px;
    .item {
      display: flex;
      justify-content: stretch;

      .date {
        flex: 1;
        color: #000;
      }

      .orders {
        flex: 1;
        color: #637381;
      }

      .remaining {
        flex: 1;
        color: #637381;
      }

      strong {
        color: #000;
        font-weight: 500;
      }
    }
  }
}
