.skeletonCalendar {
  .skeletonBreadcrumb {
    padding-top: 20px;
    .Polaris-SkeletonDisplayText--sizeSmall {
      height: 1.8rem;
    }
  }
  .skeletonPageHeader {
    display: flex;
    align-items: center;
    justify-items: stretch;
    width: 100%;
    .skeletonThumbnail {
      height: 80px;
      width: 80px;
      margin: 20px 20px 20px 0;
      background: #EBEDF0;
      border-radius: 3px;
      animation: var(--polaris-animation-skeleton-shimmer) 800ms linear infinite alternate;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: opacity;
    }
    .skeletonTitle {
      min-width: 200px;
      flex: 1;
      .Polaris-SkeletonDisplayText__DisplayText {
        max-width: 40%;
      }
    }
  }
  .skeletonCalendar {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    height: 600px;

    .skeletonWeek {
      margin-top: 20px;
      flex: 1;
      display: flex;
      justify-items: stretch;

      &:last-child {
        margin-bottom: 20px;
      }

      .skeletonDay {
        flex: 1;
        background: #EBEDF0;
        border-radius: 3px;
        margin-left: 20px;
        animation: var(--polaris-animation-skeleton-shimmer) 800ms linear infinite alternate;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: opacity;

        &:last-child {
          margin-right: 20px;
        }
      }
    }
  }
}

.availabilityCalendar {
  padding: 20px;

  .grid {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: wrap;

    .header {
      padding: 0 0 20px 0;
      display: flex;
      height: 50px
    }

    .currentMonth {
      flex: 2;
      font-size: 20px;
      align-items: center;
      display: flex;
      padding-left: 10px;
    }

    .nav {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      > button {
        margin-left: 2px;
      }
    }

    .dayNames {
      display: flex;
      height: 30px;
      text-align: center;
      justify-content: stretch;
      align-content: center;
      font-weight: 500;
      flex-basis: 0;
    }

    .week {
      display: flex;
      flex-grow: 1;
      margin-right: -1px;
      margin-bottom: -1px;
      flex-basis: 0;
    }

    .headerDay {
      justify-content: center;
    }

    .day, .headerDay {
      margin-left: -1px;
      flex-grow: 1;
      display: flex;
      flex-basis: 0;
      width: 14.28%;
    }

    .day {
      border: 1px solid #e1e6ea;
      position: relative;
      flex-direction: column;

      .number {
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        padding: 0 5px;
        color: #666;
        flex-grow: 0;
      }

      &.notSameMonth {
        background: #fafafa;
        .number {
          color: #aaa;
          font-style: italic;
        }
      }

      &.isToday {
        background: #fffbd3;
        .number {
          color: #69621b;
          font-style: italic;
        }
      }

    }

    .addInventoryPeriod {
      color: rgba(0, 0, 0, 0.05);
      text-decoration: none;
      font-weight: bold;
      font-size: 50px;
      font-family: monospace;
      padding-bottom: 10%;
    }

    .addInventoryPeriod,
    .availabilityPeriodDate {
      text-align: center;
      display: flex;
      align-content: stretch;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex-grow: 1;
    }

    .availabilityPeriodDate {
      background: #F4F5FD;
      border-top: 1px solid #C0C8D1;
      border-bottom: 1px solid #C0C8D1;
      margin: 5px 0;
      text-decoration: none;
      color: #212B36;
      display: flex;
      flex-direction: column;
      justify-items: stretch;
      font-size: 12px;
      .itemHeader {
        border-bottom: 1px solid #C0C8D1;
        flex-grow: 0;
        height: 25px;
        width: 100%;
        font-weight: 500;
        text-align: left;
        padding-left: 8px;
        display: flex;
        align-items: center;
        > span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
      }
      .itemBody {
        flex-grow: 1;
        padding: 0 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 14px;
        > em, > span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
      }
      &.isPaused .itemBody {
        background: #FFF1F1;
        .paused {
          color: #D74E4E;
        }
      }
      &.periodDateNotAvailable .itemBody {
        background: #FFFFFF;
        color: #637381;
        font-style: italic;
      }
      &.periodFirstDate {
        border-left: 1px solid #C0C8D1;
        margin-left: 5px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.periodLastDate {
        border-right: 1px solid #C0C8D1;
        margin-right: 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &:not(.periodFirstDate) {
        margin-left: -1px;
        .itemBody {
          border-left: 1px solid #C0C8D1;
        }
      }
      &:not(.periodLastDate) {
        margin-right: -1px;
      }
      &.isSoldOut {
        border-color: #D2CEBD;
        color: #595130;
        background-color: #FFFBEC;
        .itemHeader, .itemBody {
          border-color: #D2CEBD;
        }
      }
    }

    .addInventoryPeriod:hover {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
