#homePage {
  .productItem {
    > .title {
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    .props {
      display: flex;
      width: 100%;
      justify-items: stretch;
      > div {
        flex-grow: 1;
        flex-basis: 0;
        > .title {
          color: #637381;
        }
        &.status {
          font-weight: 500;
          &.AVAILABLE {
            color: #5D8AB4;
          }
          &.SOLD_OUT {
            color: #595130;
          }
          &.NOT_AVAILABLE {
            color: #637381;
          }
        }
      }
    }
  }
}
