#settingsPage {
  padding-bottom: 3rem;

  .Polaris-PageActions {
    margin-top: 2rem;
  }
  .previewCard .Polaris-Card__Section:nth-child(2) {
    padding: 0
  }
  .widgetPreview {
    padding: 2rem
  }
  .Polaris-ChoiceList__Choices {
    display: flex;
    justify-items: stretch;
  }
  .Polaris-ChoiceList__Choices li {
    flex: 1
  }
  .disabledDates, .timeSlotsSection {
      .tags {
        margin: 5px 0 5px 0;
        em {
          color: #666;
        }
        .Polaris-Tag {
          margin-bottom: 5px;
          margin-right: 5px;
        }
      }
  }
  .ordersCount {
    margin-bottom: 10px
  }
  .timeSlotsSection {
    .buttons {
      display: flex;
      .buttonHolder {
        margin-right: 5px;
      }
    }
  }
  .timeSlotsConfigDay {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    .label {
      font-weight: bold;
    }
  }
}

.datePickerHolder {
  width: 250px;
  padding: 10px;
}

.addTimeSlot {
  width: 380px;
  padding: 20px;
}

@media (max-width: 960px) {
  #settingsPage .Polaris-ChoiceList__Choices {
    flex-direction: column;
  }
}
