#settingsPage {
  padding-bottom: 3rem;

  .Polaris-PageActions {
    margin-top: 2rem;
  }
  .previewCard .Polaris-Card__Section:nth-child(2) {
    padding: 0
  }
  .widgetPreview {
    padding: 2rem
  }
  .errorMessagePreview {
    margin-top: 20px;
  }
}
