.Polaris-Button svg {
	width: 20px;
}

.App-Calendar {
	padding: 20px;
}

.App-Calendar__Grid {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	flex-wrap: wrap;
}

.App-Calendar__Header {
	padding: 0 0 20px 0;
	display: flex;
	height: 50px
}

.App-Calendar__CurrentMonth {
	flex: 2;
	font-size: 20px;
	align-items: center;
	display: flex;
	padding-left: 10px;
}

.App-Calendar__Nav {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.App-Calendar__Nav > button {
	margin-left: 2px;
}

.App-Calendar__Week,
.App-Calendar__DayNames {
	display: flex;
}

.App-Calendar__DayNames {
	height: 30px;
	text-align: center;
	justify-content: stretch;
	align-content: center;
	font-weight: 500;
}

.App-Calendar__HeaderDay {
	justify-content: center;
}

.App-Calendar__Week {
	display: flex;
	flex-grow: 1;
	margin-right: -1px;
	margin-bottom: -1px;
}

.App-Calendar__Day,
.App-Calendar__HeaderDay {
	margin-left: -1px;
	flex-grow: 1;
	display: flex;
	flex-basis: 14.28%;
}

.App-Calendar__Day {
	border: 1px solid #e1e6ea;
	position: relative;
	flex-direction: column;
}

.App-Calendar__DayNumber {
	text-align: right;
	font-size: 12px;
	font-weight: 500;
	padding: 0 5px;
	color: #666;
	flex-grow: 0;
}

.App-Calendar__Day--notSameMonth {
	background: #fafafa;
}

.App-Calendar__Day--notSameMonth .App-Calendar__DayNumber {
	color: #aaa;
	font-style: italic;
}

.App-Calendar__Day--isToday {
	background: #fffbd3;
}

.App-Calendar__Day--isToday .App-Calendar__DayNumber {
	color: #69621b;
}

.App-Calendar__AddInventoryPeriod,
.App-Calendar__DeliveryDay {
	color: rgba(0, 0, 0, 0.05);
	text-decoration: none;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	display: flex;
	align-content: stretch;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	cursor: pointer;
	flex-grow: 1;
}

.App-Calendar__DeliveryDay {
	background: #F4F5FD;
	border: 1px solid #C0C8D1;
	margin: 5px;
	border-radius: 3px;
}

.App-Calendar__AddInventoryPeriod:hover {
	color: rgba(0, 0, 0, 0.2);
}

.App-Calendar__DeliveryDay {
	color: rgba(0, 0, 0, 0.2);
}

.App-Calendar__DeliveryDay:hover {
	color: rgba(0, 0, 0, 0.4);
}

.App-ResourceListTable__Header {
	font-weight: 600;
	display: flex;
}

.App-ResourceListTable__Header__Cell {
	flex: 1;
}

.App-ResourceListTable__Row {
	display: flex;
}

.App-ResourceListTable__Row__Cell {
	flex: 1;
	display: flex;
	align-items: center;
}

.App-ResourceItem--noLink {
	cursor: auto;
	background-image: none !important;
}

.Slot-ActionCell > * {
	margin-left: auto;
}

.cardLoader {
	padding: 10px 10px 50px 10px;
}

.CalendarPage__Loading {
	min-height: 300px;
}

.appModal {
	padding: 20px;
}

.appModal .field {
	padding-bottom: 20px;
}

#homePage .Polaris-Page-Header__MainContent {
	display: flex;
}

#homePage .Polaris-Page-Header__PrimaryActionWrapper {
	margin-top: 0;
}

#deliverySlotPage .buttonHolder {
	margin-top: 20px;
}

#deliverySlotPage .deliveryDateItem {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#deliverySlotPage .deliveryDateItem > div {
	line-height: 36px
}

#deliverySlotPage .deliveryDateItem .date {
	flex: 1;
	width: 30%;
}

#deliverySlotPage .deliveryDateItem .orders {
	flex: 1;
	width: 30%;
}

#deliverySlotPage .deliveryDateItem .draftState {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #aaa;
	width: 20%;
}

#deliverySlotPage .deliveryDateItem .delete {
	width: 90px;
}

