.h10cal {
  margin-top: 20px;
  color: #333;
  padding: 5px 10px;
  min-width: 276px;
  max-width: 400px;
  .h10cal-header-wrapper {
    position: relative;
    padding-bottom: 14.28%;
  }
  .h10cal-header {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: stretch;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .h10cal-previous, .h10cal-next {
      width: 14.28%;
      cursor: pointer;
      > svg {
        width: 50%;
        height: 50%;
      }
      &:hover > svg {
        opacity: 0.7;
      }
    }
    .h10cal-month {
      flex: 1;
      text-transform: capitalize;
    }
  }
  .h10cal-day-names {
    display: flex;
    width: 100%;
    justify-content: stretch;
    .h10cal-day-name {
      flex: 1;
      text-align: center;
      text-transform: capitalize;
    }
  }
  .h10cal-body {
    width: 100%;
    flex: 1;
    .h10cal-week-wrapper {
      padding-bottom: 14.28%;
      position: relative;
    }
    .h10cal-week {
      position: absolute;
      display: flex;
      align-items: stretch;
      height: 100%;
      width: 100%;
      .h10cal-day {
        flex: 1;
        position: relative;
        > span {
          position: absolute;
          top: 10%;
          left: 10%;
          width: 80%;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
        &.h10cal-available {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
