@import "calendar";
@import "dropdown";

.buunto-date-picker-error {
    margin-bottom: 20px;
}

.buunto-dropdown {
    width: 100%;
}

.buunto-info-message {
    padding-top: 12px;
}

.buunto-date-picker-label, .buunto-time-slot-picker-label {
    font-weight: bold;
}

.buunto-error-message {
    margin-top: 8px;
}

.buunto-date-picker {
    &.buunto-cart-page {
        max-width: 300px;
        margin-left: auto;
        text-align: left;
        margin-bottom: 25px;
    }
}
