@import "calendar";
@import "dropdown";

.buunto-date-picker {
}

.buunto-date-picker-label {
    font-weight: bold;
}

.buunto-date-picker-error {
    color: darkred;
    margin-bottom: 20px;
}

.buunto-dropdown {
    width: 100%;
}

.buunto-info-message {
    padding-top: 12px;
}

.buunto-time-slot-picker-label {
    font-weight: bold;
}
.buunto-time-slot-picker {
}

.buunto-error-message {
    margin-top: 8px;
}
